@import "tailwindcss";

@theme {
  --font-poppins: "Open Sans", serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-sansita-swashed: "Sansita Swashed", "cursive";
  --font-Elsie-swash: "Elsie Swash Caps", serif;
}

:root {
  --bg-primary: #091140;
  --bg-secondary: #7ae92d;
  --bg-tertiary: #f3f4f6;
}
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}
