@import "tailwindcss";

@theme {
  --font-poppins: "Open Sans", serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-sansita-swashed: "Sansita Swashed", "cursive";
  --font-Elsie-swash: "Elsie Swash Caps", serif;
}
